.bg-box {
  background-image: url("/photos/lamp-png-34914.jpg");
  width: 600px;
  background-repeat: repeat-y;
  background-size: 150px;
  width: 300px;
  height: 300px;
  border: 2px solid;
  display: flex;
  align-items: flex-end;
}

body {
  background-color: green;
}
