/* body {
  background-image: url("photos/green-png-44873.jpg");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 400px;
  height: 100vh;
}

/* .bg-box {
     background-image: url("https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg");
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    display: block;
    margin: 0 auto;
    height: 100vh;
    
} */

/* .bg-box::before,
.bg-box::after {
  content: "";
  width: 1420px;
  height: 110px;
  background-size: contain;
}

.bg-box::after {
  background-image: url(/photos/lamp-png-34914.jpg);
  background-size: 100px;
  background-repeat: repeat;
}

.bg-box::after {
  display: flex;
  background-size: 70px;
}

body::before,
body::after {
  content: "";
  /* width: 1420px; */
  /* height: 500px;
  background-size: 10px;
} */

/* body::after {
  background-image: url(https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png);
  background-size: 100px;
  background-repeat: repeat-y;
} */ */

body::after {
  display: flex;
  background-position: right;
  background-color: var(--our-command-substrate);
  background-size: 70px;
}
html {
  background-color: darkgreen;
  background-image: url("photos/tt.jpg");
  background-size: 40px;
  background-repeat: repeat-y;
} */

.bg-box {
  width: 1100px;
  height: 650px;
  background-color: green;
  background-image: url(https://img.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg),
    url(./photos/green-png-44873.jpg), url(./photos/lamp-png-34914.jpg),
    url(https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru),
    url(https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png);
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
  background-position: center, bottom, top, left, right;
  background-size: auto, 20%, 4.5%, 4%, 4%;
}
