.bg-box{
    background-image: url(https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg);
        width: 600px;
        background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: flex-end;
}

body{
    background-color: green;
}